{% extends "index.html" %}

<html lang="">

    
         {%block styleBlock%}
     <style>
     table ,tr td{
    border:1px solid red
}
tbody {
    display:block;
    height:184px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}
thead {
    width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
}
table {
    width:400px;
}
     </style>
        {%endblock%}
 {%block ScriptBlock%}
<script>
window.onload = function() {
	  //YOUR JQUERY CODE
	$(document).ready(function() {
		console.log("hiiii")
		 

		$('#deselectall').click(function() {
		    $('select#id_academic_year option').removeAttr("selected");
		});
		
		
		
		$("#id_academic_year").change(function() {
			
			console.log("in ajax")
			academic_year = document.getElementById("id_academic_year").value
			console.log(academic_year)		
				
			
		var url1 = '/school/viewAcademicDetails/';
		viewAcademicDetails(url1,academic_year)	
			
		});
		
		$("#id_class_name").change(function() {
			
			 
		       
					console.log("in ajax")
					class_name = document.getElementById("id_class_name").value
					console.log(class_name)		
							
					var url1 = '/school/viewSectionDetails/';
		            viewSectionDetails(url1,class_name)			
					
					var url = '/school/viewMultisectTeacherList/';
					viewMultisectTeacherList(url,class_name)
				});

		
		 $('#id_teacher_name').multiSelect({
		      afterSelect: function(values){
		        //alert("Select value: "+values);
		      },
		      afterDeselect: function(values){
		        //alert("Deselect value: "+values);
		      }
		    }); 
		
	});
	  

	  
	function viewAcademicDetails(url1 ,academic_year) {
    
	$.ajax({
		url : url1,
		type : "GET",
		data : {
			academic_year : academic_year
		},
	})

	.done(
			function(data) {
				console.log(data);
				
				console.log("in done..............")
				
				/*$('#id_section_name').empty();
					$('#id_section_name').append(
							'<option value="">Please select</option>');*/
			        
							
			        for (var i = 0; i < data.length; i++)

					{

						/* console.log(data[i].apartment_flat_no) */
						/* $('#id_apartment_flat_no').empty(); */
						
						$('#id_class_name').append(
								'<option value="'+data[i].id+'">'
										+ data[i].class_name + '</option>')
						
						
					}
							$("#id_class_name option").each(function(){
								  $(this).siblings("[value='"+ this.value+"']").remove();
								})
					

			});
  

}
	
function viewSectionDetails(url ,class_name) {
	    
		$.ajax({
			url : url,
			type : "GET",
			data : {
				class_name : class_name
			},
		})

		.done(
				function(data) {
					console.log(data);
					
					console.log("in done..............")
					
					/*$('#id_section_name').empty();
						$('#id_section_name').append(
								'<option value="">Please select</option>');*/
				        
								
				        for (var i = 0; i < data.length; i++)

						{

							/* console.log(data[i].apartment_flat_no) */
							/* $('#id_apartment_flat_no').empty(); */
							
							$('#id_section_name').append(
									'<option value="'+data[i].id+'">'
											+ data[i].section + '</option>')
							
							/* $('#id_apartment_flat_no1-'+(i)+'-apartment_flat_no').val(data[i].apartment_flat_no);
							 */
						}
								$("#id_section_name option").each(function(){
									  $(this).siblings("[value='"+ this.value+"']").remove();
									})
						

				});
	  
	
	}

	function viewMultisectTeacherList(url , class_name) {
		 
		 
	      
		$.ajax({
			url : url,
			type : "GET",
			data : {
				class_name : class_name
			},
		})


		.done(
				function(data) {
					console.log(data)
					$('.teacher').empty();
					$('.ms-selectable .ms-list li').show();
					$('.ms-list li').each(function(i){
					    value2 = $(this).text();
					    
					    for (var i = 0; i < data.length; i++) {
							
							
					    	if (data[i].email == value2)
					    		
					    		{
					    		
					    		if($(this).text(value2)){
					    			$(this).hide();
					    		}
					    		
					    		
					    		}
							
						}

					   
					});
					
					for (var i = 0; i < data.length; i++) {
						
						/*$(".teacher").append('<tr><td>'+ $("#id_class_name").val() +'</td>' + '<td>' + data[i].email + '</td></tr>');	*/
						$(".teacher").append('<tr><td>' + academic_year + '</td><td>' + class_name + '</td><td>' +  data[i].email + '</td></tr>');
   					
						
					}


				});
	}



	  
}
</script>
{%endblock%}  
{% block content %}
<body>
 
<div class="page-bar" style="margin-bottom: 1px;">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="{% url 'Registration:home' %}">Home</a> 
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                
                                <a href="{% url 'Registration:academic_school_view' %}">   Academic & School</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            
                            <li>
                                <span>Class/Teacher Mapping</span>
                            </li>
                        </ul>
                        
                    </div> 

    <div class="portlet light portlet-fit portlet-form ">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-settings font-red"></i>
                                        <span class="caption-subject font-red sbold uppercase">TEACHER & CLASS MAPPING</span>
                                    </div>
                                   
                                </div>
                                <div class="portlet-body">
                                
                                
                                    <!-- BEGIN FORM-->
                                      <form  method="post" action="{% url 'Mapping:classTeacherMapping' %}">
				{% csrf_token %}
                                        <div class="form-body">
                                            
                                            <div class="row">
                                            <div class="col-md-3">
                                                <h4> Academic_year:</h4>
                                               <div>{{ ClassTeacherRelationForm.academic_year }} </div>
                                            	
                                            	<button type='button' id='deselectall'>De-Select</button>
                                          </div>
                                          <div class="col-md-3">
                                               <h4>Class:</h4>
                                               
                                      
                                      {{ ClassTeacherRelationForm.class_name }} </div>
                                          <div class="col-md-3">
                                                <h4>Section:</h4>
                                             <div>{{ ClassTeacherRelationForm.section_name }} </div>
                                           
                                          </div>
                                          
                                          
                                          
                                          <div class="col-md-3">
                                                <h4>Assistant Teacher:</h4>
                                            <div>{{ ClassTeacherRelationForm.assistant_teacher_name }} </div>
                                            </div>
                                            
                                           

                                            </div>
                                            </div>
                                            <div class="col-md-6" style="margin-top: 1%;">
                            
                        </div>
                        
                        <div class="col-md-6" style="margin-top: 5%;">
	                                            <div class="row " id="academic"  style=" margin-top: 4%;">                                       
	                                              {{ ClassTeacherRelationForm.teacher_name }}
	                                             
	                                          
	                                            </div>
                               </div>
                               
                               <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9 center-block">
                                                    
                                               <br>

                                                <button type="submit"  id="mapping" class="btn blue btn-block" style="margin-left: 50%; margin-right: 50%; width: 30%;">
                                               Mapping </button>
                                         


                                                </div>


                                            </div>
                                        </div>
                                    </form>
                                    <!-- END FORM-->
                                </div>
                                
 
  <!-- BEGIN BORDERED TABLE PORTLET-->
                            <div class="portlet light portlet-fit ">
                                <div class="portlet-title">
                                    <div class="caption" style="margin-left:-20px;">
                                        <i class="icon-bubble font-dark"></i>
                                        <span class="caption-subject font-dark bold uppercase">Mapped Teacher</span>
                                    </div>
                                    
                                </div>
                                <div class="portlet-body">
                                    <div class="table-scrollable">
                                        <table class=" table table-bordered table-hover" style="height:10px;">
                                            <thead>
                                            
                                                 <tr role="row">
                                           <th> Academic Year </th>
                                              <th>Class </th>
                                            <th> Teacher Name </th>
                                           </tr>
											
                                            </thead>
                                            <tbody class="teacher">
                                            
                                            
                                            </tbody>
                                            
                                           
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- END BORDERED TABLE PORTLET-->
                                
                                {% endblock %}    
                            </div></html>